.wrap {
    display: flex;
    gap: 8px;
}
.decrement,
.increment {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 4px;
}
.decrement:disabled,
.increment:disabled {
    background-color: var(--opacity-orange);
}