.wrap { 
    display: flex;
    justify-content: space-between;
    max-width: 1424px;
    width: 100%;
    gap: 300px;
}
.img {
    width: 90px;
    height: 120px;
    border-radius: 8px;
}
.titleWrap {
    display: flex;
    gap: 24px;
}
.title {
    margin-bottom: 8px;
}
.text {
    font-style: italic;
    font-size: 16px;
    text-transform: capitalize;
}
